* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
                    url('Images/banner.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    /* margin: auto; */
    display: flex;
    padding: 2% 10%;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,1));
    border-bottom: solid 0.5px #f44336;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    text-align: right;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    text-transform:uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
}

.nav-links ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #f44336;
    margin: auto;
    transition: 0.2s ease-in-out;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-size: 4rem;
}

.text-box p {
    font-size: 1.25rem;
    margin: 1rem 0 2rem;
}

.primary-btn {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    display: inline-block;
    border: solid 1px #fff;
    padding: 1rem 2rem;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.primary-btn:hover {
    border-color: #f44336;
    background-color: #f44336;
}

nav .fa {
    display: none;
}




.courses {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 5%; 
}

h1 {
    font-size: 3rem;
}

.row{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.row .col {
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
}

.row .col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.row .col p {
    margin-top: 1rem;
    color: rgb(136, 136, 136);
}


.campus {
    background-color: whitesmoke;
    margin: auto;
    text-align: center;
    padding: 5%; 
}

.campus .row{
    width: 80%;
    margin: auto;
    margin-top: 5rem;
}

.row .campus-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.row .campus-col img {
    display: block;
    width: 100%;
}

.row .campus-col .layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    transition: 0.5s;
    overflow: hidden;
} 

.row .campus-col .layer:hover {
    background: rgba(226,0,0,0.7);
}

.row .campus-col .layer h3{
    width: 100%;
    font-weight: 600;
    color : #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.row .campus-col .layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


.facilities {
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 5%; 
}

.row .facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.2s;
}

.facilities-col h4 {
    color: rgb(17, 16, 16)
    text-align: left;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    transition: 0.2s;
}

.facilities-col p {
    color: gray;
    transition: 0.2s;
}

.facilities-col:hover h4{
    transform: translateY(25%);
}

.facilities-col:hover p {
    transform: translateY(15%);
}

.facilities-col:hover img {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.testimonials {
    margin: auto;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.179);
    padding: 5%; 
}

.testimonials .row {
    width: 80%;
    margin: auto;
    margin-top: 3rem;
}

.row .testi-col{
    flex-basis: 43%;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    /* padding: 2rem; */
    gap: 2rem;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    
}

.testi-col img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.testi-col .text h3{
    font-size: 1.5rem;
}

.testi-col .text p{
    color: gray;
    padding-bottom: 4px;
}

.testi-col .text .fa {
    color: #f44336;
}

.testi-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.contact {
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
    border-radius: 1rem;
    text-align: center;
    padding: 5%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
                    url('Images/banner2.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.contact:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.contact h1{
    color: #fff;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    background-color: whitesmoke;
    padding: 0.5rem;
}

footer p {
    width: 80%;
    margin: auto;
    font-size: 1rem;
}

footer .fa {
    color: #f44336;
}

@media(max-width: 700px) {
    nav {
        padding: 2% 5%;
    }
    .text-box h1 {
        font-size: 2.5rem;
    }
    .nav-links ul li{
        display: block;
        text-align: left;
        padding: 1.5rem 1rem;
        border-bottom: 1px solid #fff;
    }
    .nav-links {
        z-index: 1;
        position: absolute;
        background-color: #f44336;
        height: 100vh;
        width: 50%;
        top: 0;
        right: -200px;
        transition: 0.3s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .row {
        flex-direction: column;
    }

    .testimonials .row {
        width: 95%;
        margin: auto;
        margin-top: 3rem;
    }

    .contact h1{
        font-size: 1rem;
    }

}